<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>

<body background="../static/bg2.jpg" style=" background-repeat:no-repeat ;
background-size:100% 100%; 
background-attachment:fixed;">
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="user.html"><i class="fa d-inline fa-lg fa-cloud"></i><b>Home</b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <a class="btn navbar-btn ml-2 text-white btn-secondary" href="/logout"><i class="fa d-inline fa-lg fa-user-circle-o"></i> Logout</a>
      </div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills flex-column"></ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 opaque-overlay">
          <h1 class="text-gray-dark text-secondary">用户信息</h1>
          <br>
          <form class="" method="post" action="https://formspree.io/">
            <div class="form-group"> <label>用户姓名</label> {% block mainbody0 %}
              <p>{{name}}</p> {% endblock %}</div>
            <div class="form-group"> <label>联系方式</label> {% block mainbody1 %}
              <p>{{tel}}</p> {% endblock %}</div>
            <div class="form-group"> <label>常用地址</label> {% block mainbody2 %}
              <p>{{address}}</p> {% endblock %}</div>
            <a class="btn btn-primary" href="/user">返回</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5"></div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>

</html>